.divcontato {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin-left: 50%;
  margin-top: -26.5%;
  padding: 20px;
}

.divcontato h3 {
  line-height: 25px;
  text-align: justify;
  font-size: 22.5px;
}
.macontato {
  background: url("../../assets/img/terra.webp") no-repeat center center;
  height: 167vh;
  background-size: cover;
  margin-top: -1.7%;
}

.containeConta {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  color: #fff;
  padding: 21px;
}

.macontato h1 {
  justify-content: center;
}

.form {
  max-width: 400px;
  width: 30.6%;
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  margin-left: 20px;
}

.divIcons img {
  width: 50px;
}

.divIcons {
  padding: 10px;
  margin-top: -4%;
  margin-left: 49%;
  display: flex;
  justify-content: space-between;
  max-width: 400px;
}

.fotoWhats {
  margin-left: -10%;
}
.input {
  font-size: 20px;
  margin-bottom: 20px;
  height: 34px;
  border-radius: 5px;
  border: 0;
  padding: 20px;
  transition: background-color, transform 1.1s;
}

.input:hover {
  transform: scale(1.09);
  background-color: #ffffff4e;
}

.button {
  height: 34px;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  background-color: #0fffcf9f;
  transition: background-color, transform 1.8s;
  width: 35%;
  color: aliceblue;
  font-size: large;
  margin-top: 35px;
  margin-left: 120px;
}

.button:hover {
  background-color: #0f3fff8e;
  transform: scale(2.01);
}

.textearea {
  font-size: 18px;
  margin-bottom: 14px;
  border-radius: 5px;
  border: 0;
  padding: 20px;
  height: 94px;
  resize: none;
  transition: background-color, transform 1.8s;
}

.textearea:hover {
  transform: scale(1.08);
  background-color: #ffffff4e;
}
.title {
  margin-bottom: 14px;
  padding: 25px;
  margin: auto;
}

@media (max-width: 550px) {
  .title {
    padding: 40px;
  }

  .form {
    max-width: 400px;
    width: 75%;
    display: flex;
    flex-direction: column;
    margin-top: 78%;
    margin-left: 45px;
  }

  .divcontato {
    max-width: 300px;
    margin-left: 11%;
    margin-top: -168%;
    padding: 20px;
    min-height: 30vh;
  }

  .button {
    margin-left: 86px;
  }

  .divIcons {
    margin-top: 111%;
    margin-left: 1%;
    display: flex;
  }
  .macontato {
    height: 134.2vh;
    margin-top: -3.5%;
  }
}

@media (max-width: 800px) and (min-width: 550px) {
  .title {
    padding: 40px;
  }

  .form {
    max-width: 400px;
    width: 75%;
    display: flex;
    flex-direction: column;
    margin-top: 40%;
    margin-left: 80px;
  }

  .divcontato {
    max-width: 300px;
    margin-left: 25%;
    margin-top: -100%;
    padding: 20px;
    min-height: 30vh;
  }

  .button {
    margin-left: 115px;
  }

  .divIcons {
    margin-top: 70%;
    margin-left: 13%;
    display: flex;
  }
  .macontato {
    height: 286vh;
  }
}

@media (max-width: 400px) and (min-width: 280px) {
  .title {
    padding: 33px;
    font-size: 23px;
  }

  .form {
    max-width: 400px;
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-top: 100%;
    margin-left: 15px;
  }

  .divcontato {
    max-width: 300px;
    margin-left: 10%;
    margin-top: -180%;
  }

  .divcontato h3 {
    font-size: 25px;
  }

  .button {
    margin-left: 99px;
  }

  .divIcons {
    margin-top: 130%;
    margin-left: 2%;
    display: flex;
  }
  .macontato {
    height: 171.5vh;
  }
}
